@import "tailwindcss";

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: var(--font-caprasimo), serif;
  line-height: 1.05;
}

a {
  cursor: pointer;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-caprasimo: 'Caprasimo', serif;
}

.font-heading {
  font-family: var(--font-caprasimo), serif;
}

.font-sans {
  font-family: var(--font-poppins), sans-serif;
}

